@model IEnumerable<IT_Daily_Check.Models.CCTV>

@{
    ViewData["Title"] = "CCTVs";
}

<h1>CCTVs</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-primary btn-sm active">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-info btn-sm active">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-danger btn-sm active">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

