@model IT_Daily_Check.Models.DailyCheck
@using Microsoft.AspNetCore.Http



<div>
    <h3>Good Morning All</h3>
    <br />
    <h3>@Model.Comments</h3>
    <br />
    @if (!string.IsNullOrEmpty(Model.ImageOneName))
    {
        <div>
            <div><img src="data:image/png;base64,@Model.ImageOneBase64" /></div>
        </div>
    }
    else
    {
        <div>
            <div></div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.ImageTwoName))
    {
        <div>
            <div><img src="data:image/png;base64,@Model.ImageTwoBase64" /></div>
        </div>
    }
    else
    {
        <div>
            <div></div>
        </div>
    }

    <dt class="col-sm-2">
        <strong>Internet Speed Check</strong>
    </dt>
    <dd class=" =col-sm-10">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
        <table>
            <thead>
                <tr>
                    <th>ISP NAME</th>
                    <th>Download Speed</th>
                    <th> Upload Speed</th>

                </tr>
                @foreach (var ISPs in Model.InternetServiceSpeedchecks)
                {
                    <tr>
                        <td>
                            @ISPs.ISP_NAME
                        </td>
                        <td>
                            @ISPs.DownloadSpeed Mbps
                        </td>
                        <td>
                            @ISPs.UploadSpeed Mbps
                        </td>
                    </tr>
                }
            </thead>
        </table>

    </dd>

    <br />
    <dt class="col-sm-2">
        <strong>Devices/Services Check</strong>
    </dt>
    <dd class=" =col-sm-10">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
        <div id="deviceChecksContainer" style="display:flex">
            @{
                var deviceChecksGroup1 = Model.DeviceServicechecks.Take(10);
                var deviceChecksGroup2 = Model.DeviceServicechecks.Skip(10);
            }
            <table>
                <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Status</th>

                    </tr>
                    @foreach (var deviceCheck in deviceChecksGroup1)
                    {
                        <tr>
                            <td>
                                @deviceCheck.DeviceName
                            </td>
                            <td>
                                @deviceCheck.Status
                            </td>
                        </tr>
                    }
                </thead>
            </table>
            @if (!deviceChecksGroup2.Any())
            {
                <div></div>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Status</th>

                        </tr>
                        @foreach (var deviceCheck in deviceChecksGroup2)
                        {
                            <tr>
                                <td>
                                    @deviceCheck.DeviceName
                                </td>
                                <td>
                                    @deviceCheck.Status
                                </td>
                            </tr>
                        }
                    </thead>
                </table>
            }

        </div>

    </dd>
    <br />
    <dt class="col-sm-2">
        <strong>CCTV Check</strong>
    </dt>
    <dd class=" =col-sm-10">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Results</th>
                    <th>Reasons</th>
                    <th>Comments</th>
                </tr>
                @foreach (var CCTVs in Model.CCTVchecks)
                {
                    <tr>
                        <td>
                            @CCTVs.Description
                        </td>
                        <td>
                            @CCTVs.Location
                        </td>
                        <td>
                            @CCTVs.Results
                        </td>
                        <td>
                            @CCTVs.Reasons
                        </td>
                        <td>
                            @CCTVs.Comments
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </dd>
    </dl>
    <br />
    <div>
        <h3>Click the link below to view details:</h3>
        <a href="[url]" class="btn btn-info">View Details</a>
    </div>
    <h3>Best Regards</h3>
    <p>
        <strong>
            <span style="font-size:25px; color:sandybrown">@Model.Created_By</span>
            <br>
            <span style="font-size: 16px; color: #a9a9a9;">
                @Model.UserPosition
                <br>
                GMT Nigeria Limited                
                <br>
            </span>
        </strong>
        Mobile: @Model.UserPhoneNumber |&nbsp;<a href="mailto:@Model.UserEmail" target="_blank">@Model.UserEmail</a>&nbsp;|&nbsp;<a href="http://www.gmt-limited.com/" target="_blank">www.gmt-limited.com</a>&nbsp;
        | 42, Burma Road, Apapa, Lagos State, Nigeria
        <strong>
            <span style="font-size: 12px; color: #a9a9a9;"></span>
        </strong>
        <strong>
            <span style="color:#A9A9A9;"></span>
        </strong>
        <strong></strong>
        <br>
    </p>
    <img src="https://res.cloudinary.com/fizzydev/image/upload/v1691223055/GMTLogoIso_s9hg49.jpg" width="640" height="100" frameborder="0" scrolling="no" allowfullscreen title="GMTLogoIso.jpg"/>
    <br />
    <p style="color:darkgreen; font-size:14px;">Please consider the environment before printing this e-mail</p>    
    <p style="color: darkblue; font-size:14px;"><strong><span>Disclaimer.&nbsp;</span></strong>The information in this document has been reviewed and is believed to be accurate. However, neither GMT Nigeria Limited nor its affiliates assume any responsibility for inaccuracies, errors, or omissions that may be contained herein. In no event will GMT Nigeria Limited or its affiliates be liable for direct, indirect, special, incidental, or consequential damages resulting from any defect or omission in this document, even if advised of the possibility of such damages.</p>
        



