@model IT_Daily_Check.Models.ViewModels.DailyCheckViewModel

@{
    ViewData["Title"] = "Export To Pdf";
}

<button id="download" class="btn btn-outline-success mb-3" style="width:200px;">Export</button>
<style>
    .row {
        display: flex;
        justify-content: center;
    }

    .item {
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
    }
</style>
<div id="detailsPage">
    <div>   
       
        <dl class="row">            
            <dd class=" =col-sm-10">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
                font-size:12px;
            }

            th.header1{
                text-align:center;
            }
            td{
                font-size:11px;
            }
            tr{
                font-size:12px;
            }
        </style>
        <table>
            <thead>
                        <tr>
                            <th><strong>@Html.DisplayFor(model => model.Date_Created)</strong></th>
                            <th colspan="2" style="text-align:center;"><strong>IT DAILY CHECKS</strong></th>
                        </tr>
                        <tr>
                            <th><strong>Browsing /Speedtest</strong></th>
                            <th colspan="2"><h7>Browse through the proxy and directly test the internet speed</h7></th>
                        </tr>
                <tr>
                    <th>ISP NAME</th>
                    <th>Download Speed</th>
                    <th> Upload Speed</th>

                </tr>
                @foreach (var ISPs in Model.InternetServiceSpeedcheckViewModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(InternetServiceSpeedcheckViewModels => ISPs.ISP_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(InternetServiceSpeedcheckViewModels => ISPs.DownloadSpeed)Mbps
                        </td>
                        <td>
                            @Html.DisplayFor(InternetServiceSpeedcheckViewModels => ISPs.UploadSpeed)Mbps
                        </td>
                    </tr>
                }
            </thead>
        </table>

    </dd>

    <dd class=" =col-sm-10">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
        <div id="deviceChecksContainer" style="display:flex">
            @{
                var deviceChecksGroup1 = Model.DeviceServicecheckViewModels;
                        var namesToRemove = new List<string> { "I.T. Generator Status", "CCTV Status" };
                        var filteredDeviceChecksGroup1 = deviceChecksGroup1.Where(item => !namesToRemove.Contains(item.DeviceName)).ToList();
            }
            <table>
                <thead>
                            <tr>
                                <th colspan="3" class="header1"> <strong>Devices/Services Check</strong></th>
                            </tr>
                    <tr>
                        <th>Device Name</th>
                        <th>Description</th>
                        <th>Result(s)</th>

                    </tr>
                            @foreach (var deviceCheck in filteredDeviceChecksGroup1)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(DeviceServicecheckViewModels => deviceCheck.DeviceName)
                            </td>
                            <td>
                                @Html.DisplayFor(DeviceServicecheckViewModels => deviceCheck.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(DeviceServicecheckViewModels => deviceCheck.Status)
                            </td>
                        </tr>
                    }
                </thead>
            </table>            
        </div>

    </dd>
    <dd class=" =col-sm-10">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
        <table>
            <thead>
                <tr>
                    <th colspan="3" class="header1"><strong>CCTV Check</strong></th>
                </tr>
                <tr>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Results</th>                   
                </tr>
                @foreach (var CCTVs in Model.CCTVcheckViewModels)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(CCTVcheckViewModel => CCTVs.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(CCTVcheckViewModel => CCTVs.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(CCTVcheckViewModel => CCTVs.Results)
                        </td>                       
                    </tr>                    
                }
                        <tr>
                            <td></td>
                            <td><strong>@Html.DisplayFor(model => model.Created_By)</strong></td>
                            <td></td>
                        </tr>
            </thead>
        </table>                
    </dd>            
    </dl>    
</div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>








