@model IEnumerable<IT_Daily_Check.Models.DailyCheck>

@{
    ViewData["Title"] = "Daily Checks";
}

<h1>Daily Check List</h1>

<div style="display:flex;">
    <p>
        <a asp-action="Create" style="margin-right:30px" class="fas fa-info-circle btn btn-success btn-sm active">Create New Check</a>
    </p>

    <p>
        <a asp-action="GetCurrentDayCheck" style="margin-right:30px" class="fas fa-info-circle btn btn-info btn-sm active">Get Current Day Checks</a>
    </p>

    <form class="form-inline" asp-controller="DailyChecks" asp-action="GetDailyCheckForSelectedDate">
        <div style="display:flex">
            <label class="control-label" style="margin-right:10px">Date</label>
            <input type="date" value="" class="form-control" name="date" id="date" style="margin-right:10px" />            
            <input type="submit" value="Get" asp-action="GetDailyCheckForSelectedDate" asp-controller="DailyChecks" class="btn btn-primary" style="margin-right:10px" />
        </div>       
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_By)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_By)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-primary btn-sm active">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-info btn-sm active">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fas fa-info-circle btn btn-danger btn-sm active">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
